<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Form</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <img src="a.png" alt="">
    <form action="/signin" method="POST">
      <input type="text" placeholder="Username" name="username">
      <br><br>
      <input type="password" placeholder="Password" name="password">
      <br><br>
      <button>Submit</button>
    </form>
    <hr>
    <form action="/tinh" method="POST">
      <input type="text" placeholder="Nhap so a" name="soa">
      <br><br>
      <input type="text" placeholder="Nhap so b" name="sob">
      <br><br>
      <input type="text" placeholder="Nhap ten phep tinh" name="tenPhepTinh">
      <br><br>
      <button>Tinh</button>
    </form>
  </body>
</html>